# IconButton

Icon buttons help people take minor actions with one tap.

## Example

```tsx
import { IconButton } from "@miyauci/material-react";

<IconButton>
  <span className="my-icon" />
</IconButton>;
```

## Props

| Name    | Type                                           |  Default  |
| ------- | ---------------------------------------------- | :-------: |
| `size`  | `xsmall`, `small`, `medium`, `large`, `xlarge` |  `small`  |
| `shape` | `round`, `square`                              |  `round`  |
| `color` | `filled`, `tonal`, `outlined`, `standard`      | `filled`  |
| `width` | `default`, `narrow`, `wide`                    | `default` |

And `HTMLButtonElement` arrtibutes.

## Slots

| Name        | Description     |
| ----------- | --------------- |
| `(defalut)` | Icon for button |

## Tokens

Depends on the following CSS variables.

<!-- deno-fmt-ignore-start -->
{{#tokens}}
- {{.}}
{{/tokens}}
<!-- deno-fmt-ignore-end -->
