# IconButton

Icon buttons help people take minor actions with one tap.

## Example

```tsx
import { IconButton } from "@miyauci/rmd";

<IconButton icon={<span>Your icon</span>}>
```

## Props

| Name    | Type                                      |  Default  |
| ------- | ----------------------------------------- | :-------: |
| `size`  | `xs`, `sm`, `md`, `lg`, `xl`              |   `sm`    |
| `shape` | `round`, `square`                         |  `round`  |
| `color` | `filled`, `tonal`, `outlined`, `standard` | `filled`  |
| `width` | `default`, `narrow`, `wide`               | `default` |
| `icon`  | `ReactNode`                               |     -     |

And `HTMLButtonElement` arrtibutes.

## Tokens

Depends on the following CSS variables.

<!-- deno-fmt-ignore-start -->
{{#tokens}}
- {{.}}
{{/tokens}}
<!-- deno-fmt-ignore-end -->
