@import url(./_generated/token.css);

/* container */
[data-md="icon-button"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  position: relative;

  /* state layer */
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
  }

  &[data-color="filled"] {
    background-color: var(--container-color-filled);

    &:hover::before {
      background-color: color-mix(in srgb, var(--state-layer-filled-hovered-color) calc(var(--state-layer-filled-hovered-opacity) * 100%), transparent);
    }

    &:active::before {
      background-color: color-mix(in srgb, var(--state-layer-filled-pressed-color) calc(var(--state-layer-filled-pressed-opacity) * 100%), transparent);
    }

    &:focus::before {
      background-color: color-mix(in srgb, var(--state-layer-filled-focused-color) calc(var(--state-layer-filled-focused-opacity) * 100%), transparent);
    }

    &:disabled {
      background-color: color-mix(in srgb, var(--container-filled-disabled-color) calc(var(--container-filled-disabled-opacity) * 100%), transparent);
    }
  }

  &[data-color="tonal"] {
    background-color: var(--container-color-tonal);

    &:hover::before {
      background-color: color-mix(in srgb, var(--state-layer-tonal-hovered-color) calc(var(--state-layer-tonal-hovered-opacity) * 100%), transparent);
    }

    &:active::before {
      background-color: color-mix(in srgb, var(--state-layer-tonal-pressed-color) calc(var(--state-layer-tonal-pressed-opacity) * 100%), transparent);
    }

    &:focus::before {
      background-color: color-mix(in srgb, var(--state-layer-tonal-focused-color) calc(var(--state-layer-tonal-focused-opacity) * 100%), transparent);
    }

    &:disabled {
      background-color: color-mix(in srgb, var(--container-tonal-disabled-color) calc(var(--container-tonal-disabled-opacity) * 100%), transparent);
    }
  }

  &[data-color="outlined"] {
    background-color: var(--container-color-outlined);

    &:hover::before {
      background-color: color-mix(in srgb, var(--state-layer-outlined-hovered-color) calc(var(--state-layer-outlined-hovered-opacity) * 100%), transparent);
    }

    &:active::before {
      background-color: color-mix(in srgb, var(--state-layer-outlined-pressed-color) calc(var(--state-layer-outlined-pressed-opacity) * 100%), transparent);
    }

    &:focus::before {
      background-color: color-mix(in srgb, var(--state-layer-outlined-focused-color) calc(var(--state-layer-outlined-focused-opacity) * 100%), transparent);
    }

    &:disabled {
      background-color: var(--container-outlined-disabled-color);
    }
  }

  &[data-color="standard"] {
    background-color: transparent;

    &:hover::before {
      background-color: color-mix(in srgb, var(--state-layer-standard-hovered-color) calc(var(--state-layer-standard-hovered-opacity) * 100%), transparent);
    }

    &:active::before {
      background-color: color-mix(in srgb, var(--state-layer-standard-pressed-color) calc(var(--state-layer-standard-pressed-opacity) * 100%), transparent);
    }

    &:focus::before {
      background-color: color-mix(in srgb, var(--state-layer-standard-focused-color) calc(var(--state-layer-standard-focused-opacity) * 100%), transparent);
    }
  }

  &[data-size="xs"] {
    height: var(--container-height-xsmall);

    &[data-shape="round"] {
      border-radius: var(--container-shape-xsmall-round);
    }

    &[data-shape="square"] {
      border-radius: var(--container-shape-xsmall-square);
    }

    &[data-width="default"] {
      padding-left: var(--trailing-space-xsmall-default);
      padding-right: var(--leading-space-xsmall-default);
    }

    &[data-width="narrow"] {
      padding-left: var(--trailing-space-xsmall-narrow);
      padding-right: var(--leading-space-xsmall-narrow);
    }

    &[data-width="wide"] {
      padding-left: var(--trailing-space-xsmall-wide);
      padding-right: var(--leading-space-xsmall-wide);
    }
  }

  &[data-size="sm"] {
    height: var(--container-height-small);

    &[data-shape="round"] {
      border-radius: var(--container-shape-small-round);
    }

    &[data-shape="square"] {
      border-radius: var(--container-shape-small-square);
    }

    &[data-width="default"] {
      padding-left: var(--trailing-space-small-default);
      padding-right: var(--leading-space-small-default);
    }

    &[data-width="narrow"] {
      padding-left: var(--trailing-space-small-narrow);
      padding-right: var(--leading-space-small-narrow);
    }

    &[data-width="wide"] {
      padding-left: var(--trailing-space-small-wide);
      padding-right: var(--leading-space-small-wide);
    }
  }

  &[data-size="md"] {
    height: var(--container-height-medium);

    &[data-shape="round"] {
      border-radius: var(--container-shape-medium-round);
    }

    &[data-shape="square"] {
      border-radius: var(--container-shape-medium-square);
    }

    &[data-width="default"] {
      padding-left: var(--trailing-space-medium-default);
      padding-right: var(--leading-space-medium-default);
    }

    &[data-width="narrow"] {
      padding-left: var(--trailing-space-medium-narrow);
      padding-right: var(--leading-space-medium-narrow);
    }

    &[data-width="wide"] {
      padding-left: var(--trailing-space-medium-wide);
      padding-right: var(--leading-space-medium-wide);
    }
  }

  &[data-size="lg"] {
    height: var(--container-height-large);

    &[data-shape="round"] {
      border-radius: var(--container-shape-large-round);
    }

    &[data-shape="square"] {
      border-radius: var(--container-shape-large-square);
    }

    &[data-width="default"] {
      padding-left: var(--trailing-space-large-default);
      padding-right: var(--leading-space-large-default);
    }

    &[data-width="narrow"] {
      padding-left: var(--trailing-space-large-narrow);
      padding-right: var(--leading-space-large-narrow);
    }

    &[data-width="wide"] {
      padding-left: var(--trailing-space-large-wide);
      padding-right: var(--leading-space-large-wide);
    }
  }

  &[data-size="xl"] {
    height: var(--container-height-xlarge);

    &[data-shape="round"] {
      border-radius: var(--container-shape-xlarge-round);
    }

    &[data-shape="square"] {
      border-radius: var(--container-shape-xlarge-square);
    }

    &[data-width="default"] {
      padding-left: var(--trailing-space-xlarge-default);
      padding-right: var(--leading-space-xlarge-default);
    }

    &[data-width="narrow"] {
      padding-left: var(--trailing-space-xlarge-narrow);
      padding-right: var(--leading-space-xlarge-narrow);
    }

    &[data-width="wide"] {
      padding-left: var(--trailing-space-xlarge-wide);
      padding-right: var(--leading-space-xlarge-wide);
    }
  }

  /* icon */
  & [data-icon] {
    [data-color="filled"] & {
      color: var(--icon-color-filled-color);
    }

    [data-color="filled"]:active & {
      color: var(--icon-color-filled-pressed-color);
    }

    [data-color="filled"]:hover & {
      color: var(--icon-color-filled-hovered-color);
    }

    [data-color="filled"]:focus & {
      color: var(--icon-color-filled-focused-color);
    }

    [data-color="filled"]:disabled & {
      color: color-mix(in srgb, var(--icon-color-filled-disabled-color) calc(var(--icon-color-filled-disabled-opacity) * 100%), transparent);
    }

    [data-color="tonal"] & {
      color: var(--icon-color-tonal-color);
    }

    [data-color="tonal"]:active & {
      color: var(--icon-color-tonal-pressed-color);
    }

    [data-color="tonal"]:hover & {
      color: var(--icon-color-tonal-hovered-color);
    }

    [data-color="tonal"]:focus & {
      color: var(--icon-color-tonal-focused-color);
    }

    [data-color="tonal"]:disabled & {
      color: color-mix(in srgb, var(--icon-color-tonal-disabled-color) calc(var(--icon-color-tonal-disabled-opacity) * 100%), transparent);
    }

    [data-color="outlined"] & {
      color: var(--icon-color-outlined-color);
    }

    [data-color="outlined"]:active & {
      color: var(--icon-color-outlined-pressed-color);
    }

    [data-color="outlined"]:hover & {
      color: var(--icon-color-outlined-hovered-color);
    }

    [data-color="outlined"]:focus & {
      color: var(--icon-color-outlined-focused-color);
    }

    [data-color="outlined"]:disabled & {
      color: color-mix(in srgb, var(--icon-color-outlined-disabled-color) calc(var(--icon-color-outlined-disabled-opacity) * 100%), transparent);
    }

    [data-color="standard"] & {
      color: var(--icon-color-standard-color);
    }

    [data-color="standard"]:active & {
      color: var(--icon-color-standard-pressed-color);
    }

    [data-color="standard"]:hover & {
      color: var(--icon-color-standard-hovered-color);
    }

    [data-color="standard"]:focus & {
      color: var(--icon-color-standard-focused-color);
    }

    [data-color="standard"]:disabled & {
      color: color-mix(in srgb, var(--icon-color-standard-disabled-color) calc(var(--icon-color-standard-disabled-opacity) * 100%), transparent);
    }

    [data-size="xs"] & {
      height: var(--icon-size-xsmall);
      width: var(--icon-size-xsmall);
    }

    [data-size="sm"] & {
      height: var(--icon-size-small);
      width: var(--icon-size-small);
    }

    [data-size="md"] & {
      height: var(--icon-size-medium);
      width: var(--icon-size-medium);
    }

    [data-size="lg"] & {
      height: var(--icon-size-large);
      width: var(--icon-size-large);
    }

    [data-size="xl"] & {
      height: var(--icon-size-xlarge);
      width: var(--icon-size-xlarge);
    }
  }
}