@import url(./_generated/tokens.css);

/* container */
@scope ([data-md="icon-button"]) {
  & {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: none;
    cursor: pointer;
  }

  /* state layer */
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
  }

  &:disabled {
    cursor: auto;
  }

  &:focus-visible {
    outline-offset: var(--focus-indicator-offset);
    outline-width: var(--focus-indicator-thickness);
    outline-color: var(--focus-indicator-color);
    outline-style: solid;
  }

  &[data-color="filled"] {
    background-color: var(--container-filled-color);

    &:hover::before {
      background-color: color-mix(in srgb, var(--state-layer-filled-hovered-color) var(--state-layer-filled-hovered-opacity), transparent);
    }

    &:active::before {
      background-color: color-mix(in srgb, var(--state-layer-filled-pressed-color) var(--state-layer-filled-pressed-opacity), transparent);
    }

    &:focus::before {
      background-color: color-mix(in srgb, var(--state-layer-filled-focused-color) var(--state-layer-filled-focused-opacity), transparent);
    }

    &:disabled {
      background-color: color-mix(in srgb, var(--container-filled-disabled-color) var(--container-filled-disabled-opacity), transparent);
    }
  }

  &[data-color="tonal"] {
    background-color: var(--container-tonal-color);

    &:hover::before {
      background-color: color-mix(in srgb, var(--state-layer-tonal-hovered-color) var(--state-layer-tonal-hovered-opacity), transparent);
    }

    &:active::before {
      background-color: color-mix(in srgb, var(--state-layer-tonal-pressed-color) var(--state-layer-tonal-pressed-opacity), transparent);
    }

    &:focus::before {
      background-color: color-mix(in srgb, var(--state-layer-tonal-focused-color) var(--state-layer-tonal-focused-opacity), transparent);
    }

    &:disabled {
      background-color: color-mix(in srgb, var(--container-tonal-disabled-color) var(--container-tonal-disabled-opacity), transparent);
    }
  }

  &[data-color="outlined"] {
    background-color: transparent;

    &::before {
      border-style: solid;
      border-color: var(--outlined-color);
    }

    &:hover::before {
      background-color: color-mix(in srgb, var(--state-layer-outlined-hovered-color) var(--state-layer-outlined-hovered-opacity), transparent);
    }

    &:active::before {
      background-color: color-mix(in srgb, var(--state-layer-outlined-pressed-color) var(--state-layer-outlined-pressed-opacity), transparent);
    }

    &:focus::before {
      background-color: color-mix(in srgb, var(--state-layer-outlined-focused-color) var(--state-layer-outlined-focused-opacity), transparent);
    }

    &:disabled::before {
      border-color: var(--outlined-disabled-outline-color);
    }
  }

  &[data-color="standard"] {
    background-color: transparent;

    &:hover::before {
      background-color: color-mix(in srgb, var(--state-layer-hovered-color) var(--state-layer-hovered-opacity), transparent);
    }

    &:active::before {
      background-color: color-mix(in srgb, var(--state-layer-pressed-color) var(--state-layer-pressed-opacity), transparent);
    }

    &:focus::before {
      background-color: color-mix(in srgb, var(--state-layer-focused-color) var(--state-layer-focused-opacity), transparent);
    }
  }

  &[data-size="xsmall"] {
    height: var(--container-xsmall-height);

    &::before {
      border-width: var(--xsmall-outline-width);
    }

    &[data-shape="round"] {
      border-radius: var(--container-xsmall-round-shape);
    }

    &[data-shape="square"] {
      border-radius: var(--container-xsmall-square-shape);
    }

    &[data-width="default"] {
      padding-left: var(--xsmall-default-trailing-space);
      padding-right: var(--xsmall-default-leading-space);
    }

    &[data-width="narrow"] {
      padding-left: var(--xsmall-narrow-trailing-space);
      padding-right: var(--xsmall-narrow-leading-space);
    }

    &[data-width="wide"] {
      padding-left: var(--xsmall-wide-trailing-space);
      padding-right: var(--xsmall-wide-leading-space);
    }
  }

  &[data-size="small"] {
    height: var(--container-small-height);

    &::before {
      border-width: var(--small-outline-width);
    }

    &[data-shape="round"] {
      border-radius: var(--container-small-round-shape);
    }

    &[data-shape="square"] {
      border-radius: var(--container-small-square-shape);
    }

    &[data-width="default"] {
      padding-left: var(--small-default-trailing-space);
      padding-right: var(--small-default-leading-space);
    }

    &[data-width="narrow"] {
      padding-left: var(--trailing-space-small-narrow);
      padding-right: var(--leading-space-small-narrow);
    }

    &[data-width="wide"] {
      padding-left: var(--small-wide-trailing-space);
      padding-right: var(--small-wide-leading-space);
    }
  }

  &[data-size="medium"] {
    height: var(--container-medium-height);

    &::before {
      border-width: var(--medium-outline-width);
    }

    &[data-shape="round"] {
      border-radius: var(--container-medium-round-shape);
    }

    &[data-shape="square"] {
      border-radius: var(--container-medium-square-shape);
    }

    &[data-width="default"] {
      padding-left: var(--medium-default-trailing-space);
      padding-right: var(--medium-default-leading-space);
    }

    &[data-width="narrow"] {
      padding-left: var(--medium-narrow-trailing-space);
      padding-right: var(--medium-narrow-leading-space);
    }

    &[data-width="wide"] {
      padding-left: var(--medium-wide-trailing-space);
      padding-right: var(--medium-wide-leading-space);
    }
  }

  &[data-size="large"] {
    height: var(--container-large-height);

    &::before {
      border-width: var(--large-outline-width);
    }

    &[data-shape="round"] {
      border-radius: var(--container-large-round-shape);
    }

    &[data-shape="square"] {
      border-radius: var(--container-large-square-shape);
    }

    &[data-width="default"] {
      padding-left: var(--large-default-trailing-space);
      padding-right: var(--large-default-leading-space);
    }

    &[data-width="narrow"] {
      padding-left: var(--large-narrow-trailing-space);
      padding-right: var(--large-narrow-leading-space);
    }

    &[data-width="wide"] {
      padding-left: var(--large-wide-trailing-space);
      padding-right: var(--large-wide-leading-space);
    }
  }

  &[data-size="xlarge"] {
    height: var(--container-xlarge-height);

    &::before {
      border-width: var(--xlarge-outline-width);
    }

    &[data-shape="round"] {
      border-radius: var(--container-xlarge-round-shape);
    }

    &[data-shape="square"] {
      border-radius: var(--container-xlarge-square-shape);
    }

    &[data-width="default"] {
      padding-left: var(--xlarge-default-trailing-space);
      padding-right: var(--xlarge-default-leading-space);
    }

    &[data-width="narrow"] {
      padding-left: var(--xlarge-narrow-trailing-space);
      padding-right: var(--xlarge-narrow-leading-space);
    }

    &[data-width="wide"] {
      padding-left: var(--xlarge-wide-trailing-space);
      padding-right: var(--xlarge-wide-leading-space);
    }
  }

  /* icon */
  & [data-icon] {
    all: unset;

    [data-color="filled"] & {
      color: var(--icon-filled-color);
    }

    [data-color="filled"]:active & {
      color: var(--icon-filled-pressed-color);
    }

    [data-color="filled"]:hover & {
      color: var(--icon-filled-hovered-color);
    }

    [data-color="filled"]:focus & {
      color: var(--icon-filled-focused-color);
    }

    [data-color="filled"]:disabled & {
      color: color-mix(in srgb, var(--icon-filled-disabled-color) var(--icon-filled-disabled-opacity), transparent);
    }

    [data-color="tonal"] & {
      color: var(--icon-tonal-color);
    }

    [data-color="tonal"]:active & {
      color: var(--icon-tonal-pressed-color);
    }

    [data-color="tonal"]:hover & {
      color: var(--icon-tonal-hovered-color);
    }

    [data-color="tonal"]:focus & {
      color: var(--icon-tonal-focused-color);
    }

    [data-color="tonal"]:disabled & {
      color: color-mix(in srgb, var(--icon-tonal-disabled-color) var(--icon-tonal-disabled-opacity), transparent);
    }

    [data-color="outlined"] & {
      color: var(--icon-outlined-color);
    }

    [data-color="outlined"]:active & {
      color: var(--icon-outlined-pressed-color);
    }

    [data-color="outlined"]:hover & {
      color: var(--icon-outlined-hovered-color);
    }

    [data-color="outlined"]:focus & {
      color: var(--icon-outlined-focused-color);
    }

    [data-color="outlined"]:disabled & {
      color: color-mix(in srgb, var(--icon-outlined-disabled-color) var(--icon-outlined-disabled-opacity), transparent);
    }

    [data-color="standard"] & {
      color: var(--icon-color);
    }

    [data-color="standard"]:active & {
      color: var(--icon-pressed-color);
    }

    [data-color="standard"]:hover & {
      color: var(--icon-hovered-color);
    }

    [data-color="standard"]:focus & {
      color: var(--icon-focused-color);
    }

    [data-color="standard"]:disabled & {
      color: color-mix(in srgb, var(--icon-disabled-color) var(--icon-disabled-opacity), transparent);
    }

    [data-size="xsmall"] & {
      height: var(--icon-xsmall-size);
      width: var(--icon-xsmall-size);
    }

    [data-size="small"] & {
      height: var(--icon-small-size);
      width: var(--icon-small-size);
    }

    [data-size="medium"] & {
      height: var(--icon-medium-size);
      width: var(--icon-medium-size);
    }

    [data-size="large"] & {
      height: var(--icon-large-size);
      width: var(--icon-large-size);
    }

    [data-size="xlarge"] & {
      height: var(--icon-xlarge-size);
      width: var(--icon-xlarge-size);
    }
  }
}