@import url(./_generated/tokens.css);

@scope([data-md=list-item-text]) {
  & {
    all: unset;
    color: var(--color);
    font-family: var(--font);
    font-size: var(--size);
    font-weight: var(--weight);
    line-height: var(--line-height);
    letter-spacing: var(--tracking);
  }
}

@scope([data-md=list-item]) {
  [data-md=list-item-text] {
    :scope[data-selected] & {
      color: var(--selected-color);
    }

    :scope[data-disabled] & {
      color: color-mix(in srgb, var(--disabled-color) var(--disabled-opacity), transparent);
    }
  }
}