# Radio

Radio buttons let people select one option from a set of options.

## Example

```tsx
import { Radio } from "@miyauci/material-react";

<Radio />;
```

## Props

`HTMLInputElement` arrtibutes.

## Tokens

Depends on the following CSS variables.

<!-- deno-fmt-ignore-start -->
{{#tokens}}
- {{.}}
{{/tokens}}
<!-- deno-fmt-ignore-end -->
