@import url(./_generated/tokens.css);

@scope([data-md=radio]) {
  & {
    all: unset;
    width: var(--icon-size);
    height: var(--icon-size);
    appearance: none;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: var(--icon-unselected-color);
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
  }

  &::after {
    content: "";
    position: absolute;
    width: var(--state-layer-size);
    height: var(--state-layer-size);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: inherit;
  }

  &:checked {
    border-color: var(--icon-selected-color);

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: inherit;
      width: calc(var(--icon-size) / 2);
      height: calc(var(--icon-size) / 2);
      background-color: var(--icon-selected-color);
    }
  }

  &:hover {
    border-color: var(--icon-unselected-hover-color);

    :scope:checked & {
      border-color: var(--icon-selected-hover-color);
    }

    &::after {
      background-color: var(--state-layer-unselected-hover-color);
      opacity: var(--state-layer-unselected-hover-opacity);
    }
  }

  &:focus-visible {
    border-color: var(--icon-unselected-focus-color);

    &::after {
      background-color: var(--state-layer-unselected-focus-color);
      opacity: var(--state-layer-unselected-focus-opacity);
    }

    :scope:checked::after & {
      background-color: var(--state-layer-selected-focus-color);
      opacity: var(--state-layer-selected-focus-opacity);
    }

    :scope:checked & {
      border-color: var(--icon-selected-focus-color);
    }
  }

  &:disabled {
    cursor: auto;
    border-color: color-mix(in srgb, var(--icon-unselected-disabled-color) var(--icon-unselected-disabled-opacity), transparent);

    &::before {
      background-color: color-mix(in srgb, var(--icon-unselected-disabled-color) var(--icon-unselected-disabled-opacity), transparent);
    }

    :scope:checked & {
      border-color: color-mix(in srgb, var(--icon-selected-disabled-color) var(--icon-selected-disabled-opacity), transparent);
    }

    :scope:checked::before {
      background-color: color-mix(in srgb, var(--icon-selected-disabled-color) var(--icon-selected-disabled-opacity), transparent);
    }
  }
}