# ListItem

List Item are continuous, vertical indexes of text and images.

## Example

```tsx
import { ListItem } from "@miyauci/material-react";

<ListItem headline="Headline" supportingText="Text" />;
```

## Props

| Name             | Type                                         |
| ---------------- | -------------------------------------------- |
| `leading`        | `ReactNode`                                  |
| `headline`       | `ReactNode`                                  |
| `supportingText` | `ReactNode`                                  |
| `trailing`       | `ReactNode`                                  |
| `size`           | `"one-line"`, `"two-lines"`, `"three-lines"` |
| `selected`       | `boolean`                                    |
| `state`          | `"disabled"`                                 |
| `divider`        | `boolean`                                    |

And `HTMLDivElement` arrtibutes.

## Tokens

Depends on the following CSS variables.

<!-- deno-fmt-ignore-start -->
{{#tokens}}
- {{.}}
{{/tokens}}
<!-- deno-fmt-ignore-end -->
