# Badge

Badges show notifications, counts, or status information on navigation items and
icons.

## Example

```tsx
import { Badge } from "@miyauci/material-react";

<Badge />;
```

## Props

| Name   | Type             | Default |
| ------ | ---------------- | :-----: |
| `size` | `small`, `large` | `small` |

And `HTMLSpanElement` arrtibutes.

## Tokens

Depends on the following CSS variables.

<!-- deno-fmt-ignore-start -->
{{#tokens}}
- {{.}}
{{/tokens}}
<!-- deno-fmt-ignore-end -->
