@import url(./_generated/tokens.css);

@scope([data-md=badge]) {
  & {
    all: unset;
    display: inline-flex;
    min-height: var(--size);
    min-width: var(--size);
    background-color: var(--color);
    border-radius: var(--shape);
    box-sizing: border-box;
  }

  &[data-size=large] {
    min-height: var(--large-size);
    min-width: var(--large-size);
    background-color: var(--large-color);
    border-radius: var(--large-shape);
    color: var(--label-text-large-color);
    font-family: var(--label-text-large-font);
    font-size: var(--label-text-large-size);
    font-weight: var(--label-text-large-weight);
    line-height: var(--label-text-large-line-height);
    letter-spacing: var(--label-text-large-tracking);
    padding-inline-start: 4px;
    padding-inline-end: 4px;
  }
}