{
  "rules": {
    "plugin/browser-compat": [true, {}],
    "declaration-block-no-redundant-longhand-properties": null
  },
  "plugins": ["stylelint-browser-compat"],
  "extends": ["stylelint-config-standard"],
  "ignoreFiles": [
    "src/**/_generated/*.css"
  ]
}
