{
  "rules": {
    "declaration-block-no-redundant-longhand-properties": null,
    "plugin/use-baseline": [true, { "available": 2023 }]
  },
  "plugins": ["stylelint-plugin-use-baseline"],
  "extends": ["stylelint-config-standard"],
  "ignoreFiles": [
    "src/**/_generated/*.css"
  ]
}
