# SuggestionChip

Suggestion chips help narrow a user’s intent by presenting dynamically generated
suggestions, such as suggested responses or search filters.

## Example

```tsx
import { SuggestionChip } from "@miyauci/material-react";

<SuggestionChip>
  Label
</SuggestionChip>;
```

### With Icon

```tsx
import { SuggestionChip } from "@miyauci/material-react";

<SuggestionChip icon={<span className="my-icon" />}>
  Label
</SuggestionChip>;
```

## Props

| Name       | Type        |
| ---------- | ----------- |
| `elevated` | `boolean`   |
| `disabled` | `boolean`   |
| `icon`     | `ReactNode` |
| `children` | `ReactNode` |

And `HTMLSpanElement` arrtibutes.

## Tokens

Depends on the following CSS variables.

<!-- deno-fmt-ignore-start -->
{{#tokens}}
- {{.}}
{{/tokens}}
<!-- deno-fmt-ignore-end -->
