@import url("./_generated/tokens.css");
@import url("../../_internal/elevation.css");

[data-md="fab"] {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--container-width);
  height: var(--container-height);
  border-radius: var(--container-shape);

  --elevation: var(--md-sys-elevation-level3);

  box-shadow: var(--box-shadow);
  position: relative;
  cursor: pointer;
  font-size: var(--icon-size);
  color: var(--icon-tonal-primary-color);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;
  }

  &[data-size="medium"] {
    width: var(--container-medium-width);
    height: var(--container-medium-height);
    border-radius: var(--container-medium-shape);
    font-size: var(--icon-medium-size);
  }

  &[data-size="large"] {
    width: var(--container-large-width);
    height: var(--container-large-height);
    border-radius: var(--container-large-shape);
    font-size: var(--icon-large-size);
  }

  &[data-color="primary"] {
    --elevation: var(--container-primary-elevation);
    --shadow-color: var(--container-primary-shadow-color);

    background-color: var(--container-primary-color);
    color: var(--icon-primary-color);

    &:hover {
      --elevation: var(--container-primary-hovered-elevation);

      color: var(--icon-primary-hovered-color);

      &::before {
        background-color: var(--state-layer-primary-hovered-color);
        opacity: var(--state-layer-primary-hovered-opacity);
      }
    }

    &:active {
      --elevation: var(--container-primary-pressed-elevation);

      color: var(--icon-primary-pressed-color);

      &::before {
        background-color: var(--state-layer-primary-pressed-color);
        opacity: var(--state-layer-primary-pressed-opacity);
      }
    }

    &:focus-visible {
      --elevation: var(--container-primary-focused-elevation);

      color: var(--icon-primary-focused-color);

      &::before {
        background-color: var(--state-layer-primary-focused-color);
        opacity: var(--state-layer-primary-focused-opacity);
      }
    }
  }

  &[data-color="primary-container"] {
    --elevation: var(--container-tonal-primary-elevation);
    --shadow-color: var(--container-tonal-primary-shadow-color);

    background-color: var(--container-tonal-primary-color);
    color: var(--icon-tonal-primary-color);

    &:hover {
      --elevation: var(--container-tonal-primary-hovered-elevation);

      color: var(--icon-tonal-primary-hovered-color);

      &::before {
        background-color: var(--state-layer-tonal-primary-hovered-color);
        opacity: var(--state-layer-tonal-primary-hovered-opacity);
      }
    }

    &:active {
      --elevation: var(--container-tonal-primary-pressed-elevation);

      color: var(--icon-tonal-primary-pressed-color);

      &::before {
        background-color: var(--state-layer-tonal-primary-pressed-color);
        opacity: var(--state-layer-tonal-primary-pressed-opacity);
      }
    }

    &:focus-visible {
      --elevation: var(--container-tonal-primary-focused-elevation);

      color: var(--icon-tonal-primary-focused-color);

      &::before {
        background-color: var(--state-layer-tonal-primary-focused-color);
        opacity: var(--state-layer-tonal-primary-focused-opacity);
      }
    }
  }

  &[data-color="secondary"] {
    --elevation: var(--container-secondary-elevation);
    --shadow-color: var(--container-secondary-shadow-color);

    background-color: var(--container-secondary-color);
    color: var(--icon-secondary-color);

    &:hover {
      --elevation: var(--container-tonal-hovered-elevation);

      color: var(--icon-tonal-hovered-color);

      &::before {
        background-color: var(--state-layer-tonal-hovered-color);
        opacity: var(--state-layer-tonal-hovered-opacity);
      }
    }

    &:active {
      --elevation: var(--container-tonal-pressed-elevation);

      color: var(--icon-secondary-pressed-color);

      &::before {
        background-color: var(--state-layer-secondary-pressed-color);
        opacity: var(--state-layer-tonal-pressed-opacity);
      }
    }

    &:focus-visible {
      --elevation: var(--container-tonal-focused-elevation);

      color: var(--icon-tonal-focused-color);

      &::before {
        background-color: var(--state-layer-tonal-focused-color);
        opacity: var(--state-layer-tonal-focused-opacity);
      }
    }
  }

  &[data-color="secondary-container"] {
    --elevation: var(--container-tonal-secondary-elevation);
    --shadow-color: var(--container-tonal-secondary-shadow-color);

    background-color: var(--container-tonal-secondary-color);
    color: var(--icon-tonal-secondary-color);

    &:hover {
      --elevation: var(--container-tonal-secondary-hovered-elevation);

      color: var(--icon-tonal-secondary-hovered-color);

      &::before {
        background-color: var(--state-layer-tonal-secondary-hovered-color);
        opacity: var(--state-layer-tonal-secondary-hovered-opacity);
      }
    }

    &:active {
      --elevation: var(--container-tonal-secondary-pressed-elevation);

      color: var(--icon-tonal-secondary-pressed-color);

      &::before {
        background-color: var(--state-layer-tonal-secondary-pressed-color);
        opacity: var(--state-layer-tonal-secondary-pressed-opacity);
      }
    }

    &:focus-visible {
      --elevation: var(--container-tonal-secondary-focused-elevation);

      color: var(--icon-tonal-secondary-focused-color);

      &::before {
        background-color: var(--state-layer-tonal-secondary-focused-color);
        opacity: var(--state-layer-tonal-secondary-focused-opacity);
      }
    }
  }

  &[data-color="tertiary"] {
    --elevation: var(--container-tertiary-elevation);
    --shadow-color: var(--container-tertiary-shadow-color);

    background-color: var(--container-tertiary-color);
    color: var(--icon-tertiary-color);

    &:hover {
      --elevation: var(--container-tertiary-hovered-elevation);

      color: var(--icon-tertiary-hovered-color);

      &::before {
        background-color: var(--state-layer-tertiary-hovered-color);
        opacity: var(--state-layer-tertiary-hovered-opacity);
      }
    }

    &:active {
      --elevation: var(--container-tertiary-pressed-elevation);

      color: var(--icon-tertiary-pressed-color);

      &::before {
        background-color: var(--state-layer-tertiary-pressed-color);
        opacity: var(--state-layer-tertiary-pressed-opacity);
      }
    }

    &:focus-visible {
      --elevation: var(--container-tertiary-focused-elevation);

      color: var(--icon-tertiary-focused-color);

      &::before {
        background-color: var(--state-layer-tertiary-focused-color);
        opacity: var(--state-layer-tertiary-focused-opacity);
      }
    }
  }

  &[data-color="tertiary-container"] {
    --elevation: var(--container-tonal-tertiary-elevation);
    --shadow-color: var(--container-tonal-tertiary-shadow-color);

    background-color: var(--container-tonal-tertiary-color);
    color: var(--icon-tonal-tertiary-color);

    &:hover {
      --elevation: var(--container-tonal-tertiary-hovered-elevation);

      color: var(--icon-tonal-tertiary-hovered-color);

      &::before {
        background-color: var(--state-layer-tonal-tertiary-hovered-color);
        opacity: var(--state-layer-tonal-tertiary-focused-opacity);
      }
    }

    &:active {
      --elevation: var(--container-tonal-tertiary-pressed-elevation);

      color: var(--icon-tonal-tertiary-pressed-color);

      &::before {
        background-color: var(--state-layer-tonal-tertiary-focused-color);
        opacity: var(--state-layer-tonal-tertiary-focused-opacity);
      }
    }

    &:focus-visible {
      --elevation: var(--container-tonal-tertiary-focused-elevation);

      color: var(--icon-tonal-tertiary-focused-color);

      &::before {
        background-color: var(--state-layer-tonal-tertiary-focused-color);
        opacity: var(--state-layer-tonal-tertiary-focused-opacity);
      }
    }
  }
}
