# Switch

Switches toggle the selection of an item on or off.

## Example

```tsx
import { Switch } from "@miyauci/material-react";

<Switch />;
```

## Props

| Name       | Type        |
| ---------- | ----------- |
| `disabled` | `boolean`   |
| `selected` | `boolean`   |
| `icon`     | `ReactNode` |

And `HTMLButtonElement` arrtibutes.

## Tokens

Depends on the following CSS variables.

<!-- deno-fmt-ignore-start -->
{{#tokens}}
- {{.}}
{{/tokens}}
<!-- deno-fmt-ignore-end -->
