:root {
  --md-sys-shape-corner-full: 9999px; /** Fully rounded */
  --md-sys-shape-corner-extra-large-increased: 32px; /** Extra large increased rounding */
  --md-sys-shape-corner-extra-large: 28px; /** Extra large rounding */
  --md-sys-shape-corner-large-increased: 20px; /** Large increased rounding */
  --md-sys-shape-corner-large: 16px; /** Large rounding */
  --md-sys-shape-corner-medium: 12px; /** Medium rounding */
  --md-sys-shape-corner-small: 8px; /** Small rounding */
  --md-sys-shape-corner-extra-small: 4px; /** Extra small rounding */
  --md-sys-shape-corner-none: 0; /** No rounding */
}
