# ExtendedFab

Extended FABs help people take primary actions. They're wider than FABs to
accommodate a text label and larger target area.

## Example

```tsx
import { ExtendedFab } from "@miyauci/material-react";

<ExtendedFab>
  Label
</ExtendedFab>;
```

### With Icon

```tsx
import { ExtendedFab } from "@miyauci/material-react";

<ExtendedFab>
  <span slot="icon" className="my-icon" />
  Label
</ExtendedFab>;
```

## Props

| Name    | Type                                                                                                             |
| ------- | ---------------------------------------------------------------------------------------------------------------- |
| `size`  | `"small"`, `"medium"`, `"large"`                                                                                 |
| `color` | `"primary"`, `"primary-container"`, `"secondary"`, `"secondary-container"`, `"tertiary"`, `"tertiary-container"` |

And `HTMLButtonElement` arrtibutes.

## Slots

| Name        | Description           |
| ----------- | --------------------- |
| `(default)` | Label text for button |
| `icon`      | Icon for button       |

## Tokens

Depends on the following CSS variables.

<!-- deno-fmt-ignore-start -->
{{#tokens}}
- {{.}}
{{/tokens}}
<!-- deno-fmt-ignore-end -->
