:root {
  --md-ref-typeface-brand: "Roboto"; /** Brand typeface */
  --md-ref-typeface-plain: "Roboto"; /** Plain typeface */
  --md-ref-typeface-weight-regular: 400; /** Regular weight */
  --md-ref-typeface-weight-medium: 500; /** Medium weight */
  --md-ref-typeface-weight-bold: 700; /** Bold weight */
}
