:root {
  --md-sys-color-primary: var(--md-ref-palette-primary40); /** Primary */
  --md-sys-color-on-primary: var(--md-ref-palette-primary100); /** On primary */
  --md-sys-color-primary-container: var(--md-ref-palette-primary90); /** Primary container */
  --md-sys-color-on-primary-container: var(--md-ref-palette-primary30); /** On primary container */
  --md-sys-color-secondary: var(--md-ref-palette-secondary40); /** Secondary */
  --md-sys-color-on-secondary: var(--md-ref-palette-secondary100); /** On secondary */
  --md-sys-color-secondary-container: var(--md-ref-palette-secondary90); /** Secondary container */
  --md-sys-color-on-secondary-container: var(--md-ref-palette-secondary30); /** On secondary container */
  --md-sys-color-tertiary: var(--md-ref-palette-tertiary40); /** Tertiary */
  --md-sys-color-on-tertiary: var(--md-ref-palette-tertiary100); /** On tertiary */
  --md-sys-color-tertiary-container: var(--md-ref-palette-tertiary90); /** Tertiary container */
  --md-sys-color-on-tertiary-container: var(--md-ref-palette-tertiary30); /** On tertiary container */
  --md-sys-color-error: var(--md-ref-palette-error40); /** Error */
  --md-sys-color-on-error: var(--md-ref-palette-error100); /** On error */
  --md-sys-color-error-container: var(--md-ref-palette-error90); /** Error container */
  --md-sys-color-on-error-container: var(--md-ref-palette-error30); /** On error container */
  --md-sys-color-surface: var(--md-ref-palette-neutral98); /** Surface */
  --md-sys-color-on-surface: var(--md-ref-palette-neutral10); /** On surface */
  --md-sys-color-surface-variant: var(--md-ref-palette-neutral-variant90); /** Surface Variant */
  --md-sys-color-on-surface-variant: var(--md-ref-palette-neutral-variant30); /** On surface variant */
  --md-sys-color-surface-container-highest: var(--md-ref-palette-neutral90); /** Surface Container Highest */
  --md-sys-color-surface-container-high: var(--md-ref-palette-neutral92); /** Surface Container High */
  --md-sys-color-surface-container: var(--md-ref-palette-neutral94); /** Surface Container */
  --md-sys-color-surface-container-low: var(--md-ref-palette-neutral96); /** Surface Container Low */
  --md-sys-color-surface-container-lowest: var(--md-ref-palette-neutral100); /** Surface Container Lowest */
  --md-sys-color-inverse-surface: var(--md-ref-palette-neutral20); /** Inverse surface */
  --md-sys-color-inverse-on-surface: var(--md-ref-palette-neutral95); /** Inverse on surface */
  --md-sys-color-outline: var(--md-ref-palette-neutral-variant50); /** Outline */
  --md-sys-color-outline-variant: var(--md-ref-palette-neutral-variant80); /** Outline Variant */
}
