@property --md-sys-state-focus-indicator-thickness {
  syntax: "<length>";
  inherits: true;
  initial-value: 3px;
}

@property --md-sys-state-focus-indicator-outer-offset {
  syntax: "<length>";
  inherits: true;
  initial-value: 2px;
}

@property --md-sys-state-focus-indicator-inner-offset {
  syntax: "<length>";
  inherits: true;
  initial-value: -3px;
}