# Navigation Bar Item

## Example

```tsx
import { NavigationBarItem } from "@miyauci/rmd";

<NavigationBarItem label="Icon" active icon={<span className="my-icon" />} />;
```

## Props

| Name     | Type        |
| -------- | ----------- |
| `label`  | `ReactNode` |
| `active` | `boolean`   |
| `icon`   | `ReactNode` |

And `HTMLDivElement` attributes.

## Tokens

Depends on the following CSS variables.

<!-- deno-fmt-ignore-start -->
{{#tokens}}
- {{.}}
{{/tokens}}
<!-- deno-fmt-ignore-end -->
