# AssistChip

Assist chips represent smart or automated actions that can span multiple apps,
such as opening a calendar event from the home screen.

## Example

```tsx
import { AssistChip } from "@miyauci/material-react";

<AssistChip>
  Label
</AssistChip>;
```

### With Icon

```tsx
import { AssistChip } from "@miyauci/material-react";

<AssistChip icon={<span className="my-icon" />}>
  Label
</AssistChip>;
```

## Props

| Name       | Type        |
| ---------- | ----------- |
| `elevated` | `boolean`   |
| `disabled` | `boolean`   |
| `icon`     | `ReactNode` |
| `children` | `ReactNode` |

And `HTMLSpanElement` arrtibutes.

## Tokens

Depends on the following CSS variables.

<!-- deno-fmt-ignore-start -->
{{#tokens}}
- {{.}}
{{/tokens}}
<!-- deno-fmt-ignore-end -->
