:root {
  --md-sys-shape-corner-full: 9999px; /** Fully rounded */
  --md-sys-shape-corner-extra-large: 1.75rem; /** Extra large rounding */
  --md-sys-shape-corner-large: 1rem; /** Large rounding */
  --md-sys-shape-corner-medium: 0.75rem; /** Medium rounding */
  --md-sys-shape-corner-small: 0.5rem; /** Small rounding */
  --md-sys-shape-corner-extra-small: 0.25rem; /** Extra small rounding */
  --md-sys-shape-corner-none: 0; /** No rounding */
  --md-sys-typescale-display-large-size: 3.5625rem; /** Display Large font size */
  --md-sys-typescale-display-large-tracking: -0.015625rem; /** Display Large font tracking */
  --md-sys-typescale-display-large-line-height: 4rem; /** Display Large line height */
  --md-sys-typescale-display-medium-size: 2.8125rem; /** Display Medium font size */
  --md-sys-typescale-display-medium-tracking: 0rem; /** Display Medium font tracking */
  --md-sys-typescale-display-medium-line-height: 3.25rem; /** Display Medium line height */
  --md-sys-typescale-display-small-size: 2.25rem; /** Display Small font size */
  --md-sys-typescale-display-small-tracking: 0rem; /** Display Small font tracking */
  --md-sys-typescale-display-small-line-height: 2.75rem; /** Display Small line height */
  --md-sys-typescale-headline-large-size: 2rem; /** Headline Large font size */
  --md-sys-typescale-headline-large-tracking: 0rem; /** Headline Large font tracking */
  --md-sys-typescale-headline-large-line-height: 2.5rem; /** Headline Large line height */
  --md-sys-typescale-headline-medium-size: 1.75rem; /** Headline Medium font size */
  --md-sys-typescale-headline-medium-tracking: 0rem; /** Headline Medium font tracking */
  --md-sys-typescale-headline-medium-line-height: 2.25rem; /** Headline Medium line height */
  --md-sys-typescale-headline-small-size: 1.5rem; /** Headline Small font size */
  --md-sys-typescale-headline-small-tracking: 0rem; /** Headline Small font tracking */
  --md-sys-typescale-headline-small-line-height: 2rem; /** Headline Small line height */
  --md-sys-typescale-title-large-size: 1.375rem; /** Title Large font size */
  --md-sys-typescale-title-large-tracking: 0rem; /** Title Large font tracking */
  --md-sys-typescale-title-large-line-height: 1.75rem; /** Title Large line height */
  --md-sys-typescale-title-medium-size: 1rem; /** Title Medium font size */
  --md-sys-typescale-title-medium-tracking: 0.009375rem; /** Title Medium font tracking */
  --md-sys-typescale-title-medium-line-height: 1.5rem; /** Title Medium line height */
  --md-sys-typescale-title-small-size: 0.875rem; /** Title Small font size */
  --md-sys-typescale-title-small-tracking: 0.00625rem; /** Title Small font tracking */
  --md-sys-typescale-title-small-line-height: 1.25rem; /** Title Small line height */
  --md-sys-typescale-body-large-size: 1rem; /** Body Large font size */
  --md-sys-typescale-body-large-tracking: 0.03125rem; /** Body Large font tracking */
  --md-sys-typescale-body-large-line-height: 1.5rem; /** Body Large line height */
  --md-sys-typescale-body-medium-size: 0.875rem; /** Body Medium font size */
  --md-sys-typescale-body-medium-tracking: 0.015625rem; /** Body Medium font tracking */
  --md-sys-typescale-body-medium-line-height: 1.25rem; /** Body Medium line height */
  --md-sys-typescale-body-small-size: 0.75rem; /** Body Small font size */
  --md-sys-typescale-body-small-tracking: 0.025rem; /** Body Small font tracking */
  --md-sys-typescale-body-small-line-height: 1rem; /** Body Small line height */
  --md-sys-typescale-label-large-size: 0.875rem; /** Label Large font size */
  --md-sys-typescale-label-large-tracking: 0.00625rem; /** Label Large font tracking */
  --md-sys-typescale-label-large-line-height: 1.25rem; /** Label Large line height */
  --md-sys-typescale-label-medium-size: 0.75rem; /** Label Medium font size */
  --md-sys-typescale-label-medium-tracking: 0.03125rem; /** Label Medium font tracking */
  --md-sys-typescale-label-medium-line-height: 1rem; /** Label Medium line height */
  --md-sys-typescale-label-small-size: 0.6875rem; /** Label Small font size */
  --md-sys-typescale-label-small-tracking: 0.03125rem; /** Label Small font tracking */
  --md-sys-typescale-label-small-line-height: 1rem; /** Label Small line height */
  --md-sys-state-dragged-state-layer-opacity: 0.16; /** Dragged state layer opacity */
  --md-sys-state-pressed-state-layer-opacity: 0.1; /** Pressed state layer opacity */
  --md-sys-state-focus-state-layer-opacity: 0.1; /** Focus state layer opacity */
  --md-sys-state-focus-indicator-thickness: 0.1875rem;
  --md-sys-state-focus-indicator-outer-offset: 0.125rem;
  --md-sys-state-focus-indicator-inner-offset: -0.1875rem;
  --md-sys-state-hover-state-layer-opacity: 0.08; /** Hover state layer opacity */
  --md-sys-typescale-display-large-font: var(--md-ref-typeface-brand); /** Display Large font name */
  --md-sys-typescale-display-large-weight: var(--md-ref-typeface-weight-regular); /** Display Large font weight */
  --md-sys-typescale-display-medium-font: var(--md-ref-typeface-brand); /** Display Medium font name */
  --md-sys-typescale-display-medium-weight: var(--md-ref-typeface-weight-regular); /** Display Medium font weight */
  --md-sys-typescale-display-small-font: var(--md-ref-typeface-brand); /** Display Small font name */
  --md-sys-typescale-display-small-weight: var(--md-ref-typeface-weight-regular); /** Display Small font weight */
  --md-sys-typescale-headline-large-font: var(--md-ref-typeface-brand); /** Headline Large font name */
  --md-sys-typescale-headline-large-weight: var(--md-ref-typeface-weight-regular); /** Headline Large font weight */
  --md-sys-typescale-headline-medium-font: var(--md-ref-typeface-brand); /** Headline Medium font name */
  --md-sys-typescale-headline-medium-weight: var(--md-ref-typeface-weight-regular); /** Headline Medium font weight */
  --md-sys-typescale-headline-small-font: var(--md-ref-typeface-brand); /** Headline Small font name */
  --md-sys-typescale-headline-small-weight: var(--md-ref-typeface-weight-regular); /** Headline Small font weight */
  --md-sys-typescale-title-large-font: var(--md-ref-typeface-brand); /** Title Large font name */
  --md-sys-typescale-title-large-weight: var(--md-ref-typeface-weight-regular); /** Title Large font weight */
  --md-sys-typescale-title-medium-font: var(--md-ref-typeface-plain); /** Title Medium font name */
  --md-sys-typescale-title-medium-weight: var(--md-ref-typeface-weight-medium); /** Title Medium font weight */
  --md-sys-typescale-title-small-font: var(--md-ref-typeface-plain); /** Title Small font name */
  --md-sys-typescale-title-small-weight: var(--md-ref-typeface-weight-medium); /** Title Small font weight */
  --md-sys-typescale-body-large-font: var(--md-ref-typeface-plain); /** Body Large font name */
  --md-sys-typescale-body-large-weight: var(--md-ref-typeface-weight-regular); /** Body Large font weight */
  --md-sys-typescale-body-medium-font: var(--md-ref-typeface-plain); /** Body Medium font name */
  --md-sys-typescale-body-medium-weight: var(--md-ref-typeface-weight-regular); /** Body Medium font weight */
  --md-sys-typescale-body-small-font: var(--md-ref-typeface-plain); /** Body Small font name */
  --md-sys-typescale-body-small-weight: var(--md-ref-typeface-weight-regular); /** Body Small font weight */
  --md-sys-typescale-label-large-font: var(--md-ref-typeface-plain); /** Label Large font name */
  --md-sys-typescale-label-large-weight: var(--md-ref-typeface-weight-medium); /** Label Large font weight */
  --md-sys-typescale-label-medium-font: var(--md-ref-typeface-plain); /** Label Medium font name */
  --md-sys-typescale-label-medium-weight: var(--md-ref-typeface-weight-medium); /** Label Medium font weight */
  --md-sys-typescale-label-small-font: var(--md-ref-typeface-plain); /** Label Small font name */
  --md-sys-typescale-label-small-weight: var(--md-ref-typeface-weight-medium); /** Label Small font weight */
}
