@property --md-ref-typeface-brand {
  syntax: "*";
  inherits: true;
  initial-value: Roboto;
}

@property --md-ref-typeface-plain {
  syntax: "*";
  inherits: true;
  initial-value: Roboto;
}

@property --md-ref-typeface-weight-regular {
  syntax: "<integer>";
  inherits: true;
  initial-value: 400;
}

@property --md-ref-typeface-weight-medium {
  syntax: "<integer>";
  inherits: true;
  initial-value: 500;
}

@property --md-ref-typeface-weight-bold {
  syntax: "<integer>";
  inherits: true;
  initial-value: 700;
}

@property --md-ref-palette-primary0 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0 0 0);
}

@property --md-ref-palette-primary10 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.125 0 0.365);
}

@property --md-ref-palette-primary20 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.219 0.118 0.447);
}

@property --md-ref-palette-primary30 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.31 0.216 0.545);
}

@property --md-ref-palette-primary40 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.404 0.314 0.643);
}

@property --md-ref-palette-primary50 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.498 0.404 0.745);
}

@property --md-ref-palette-primary60 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.604 0.51 0.859);
}

@property --md-ref-palette-primary70 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.714 0.616 0.972);
}

@property --md-ref-palette-primary80 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.816 0.737 1);
}

@property --md-ref-palette-primary90 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.918 0.867 1);
}

@property --md-ref-palette-primary95 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.964 0.929 1);
}

@property --md-ref-palette-primary98 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.996 0.969 1);
}

@property --md-ref-palette-primary99 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 1 0.984 0.992);
}

@property --md-ref-palette-primary100 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 1 1 1);
}

@property --md-ref-palette-secondary0 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0 0 0);
}

@property --md-ref-palette-secondary10 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.114 0.102 0.169);
}

@property --md-ref-palette-secondary20 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.2 0.176 0.255);
}

@property --md-ref-palette-secondary30 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.29 0.267 0.345);
}

@property --md-ref-palette-secondary40 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.384 0.357 0.443);
}

@property --md-ref-palette-secondary50 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.478 0.447 0.537);
}

@property --md-ref-palette-secondary60 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.584 0.553 0.647);
}

@property --md-ref-palette-secondary70 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.69 0.655 0.753);
}

@property --md-ref-palette-secondary80 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.8 0.761 0.863);
}

@property --md-ref-palette-secondary90 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.91 0.871 0.973);
}

@property --md-ref-palette-secondary95 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.964 0.929 1);
}

@property --md-ref-palette-secondary98 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.996 0.969 1);
}

@property --md-ref-palette-secondary99 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 1 0.984 0.992);
}

@property --md-ref-palette-secondary100 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 1 1 1);
}

@property --md-ref-palette-tertiary0 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0 0 0);
}

@property --md-ref-palette-tertiary10 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.192 0.067 0.114);
}

@property --md-ref-palette-tertiary20 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.286 0.145 0.196);
}

@property --md-ref-palette-tertiary30 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.388 0.231 0.282);
}

@property --md-ref-palette-tertiary40 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.49 0.322 0.376);
}

@property --md-ref-palette-tertiary50 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.596 0.408 0.467);
}

@property --md-ref-palette-tertiary60 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.71 0.51 0.573);
}

@property --md-ref-palette-tertiary70 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.824 0.616 0.674);
}

@property --md-ref-palette-tertiary80 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.937 0.722 0.784);
}

@property --md-ref-palette-tertiary90 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 1 0.847 0.894);
}

@property --md-ref-palette-tertiary95 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 1 0.925 0.945);
}

@property --md-ref-palette-tertiary98 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 1 0.969 0.969);
}

@property --md-ref-palette-tertiary99 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 1 0.984 0.98);
}

@property --md-ref-palette-tertiary100 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 1 1 1);
}

@property --md-ref-palette-error0 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0 0 0);
}

@property --md-ref-palette-error10 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.255 0.055 0.043);
}

@property --md-ref-palette-error20 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.376 0.078 0.063);
}

@property --md-ref-palette-error30 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.549 0.114 0.09);
}

@property --md-ref-palette-error40 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.702 0.149 0.118);
}

@property --md-ref-palette-error50 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.863 0.212 0.18);
}

@property --md-ref-palette-error60 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.894 0.412 0.384);
}

@property --md-ref-palette-error70 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.925 0.573 0.557);
}

@property --md-ref-palette-error80 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.949 0.718 0.71);
}

@property --md-ref-palette-error90 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.976 0.871 0.863);
}

@property --md-ref-palette-error95 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.988 0.933 0.933);
}

@property --md-ref-palette-error98 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 1 0.969 0.969);
}

@property --md-ref-palette-error99 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 1 0.984 0.976);
}

@property --md-ref-palette-error100 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 1 1 1);
}

@property --md-ref-palette-neutral0 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0 0 0);
}

@property --md-ref-palette-neutral4 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.059 0.054 0.075);
}

@property --md-ref-palette-neutral6 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.078 0.071 0.094);
}

@property --md-ref-palette-neutral10 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.114 0.106 0.125);
}

@property --md-ref-palette-neutral12 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.129 0.122 0.149);
}

@property --md-ref-palette-neutral17 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.169 0.161 0.188);
}

@property --md-ref-palette-neutral20 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.196 0.184 0.208);
}

@property --md-ref-palette-neutral22 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.212 0.204 0.231);
}

@property --md-ref-palette-neutral24 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.231 0.22 0.243);
}

@property --md-ref-palette-neutral30 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.278 0.275 0.298);
}

@property --md-ref-palette-neutral40 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.376 0.365 0.396);
}

@property --md-ref-palette-neutral50 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.473 0.463 0.49);
}

@property --md-ref-palette-neutral60 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.576 0.561 0.588);
}

@property --md-ref-palette-neutral70 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.682 0.663 0.694);
}

@property --md-ref-palette-neutral80 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.816 0.773 0.804);
}

@property --md-ref-palette-neutral87 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.871 0.847 0.882);
}

@property --md-ref-palette-neutral90 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.902 0.878 0.914);
}

@property --md-ref-palette-neutral92 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.925 0.902 0.941);
}

@property --md-ref-palette-neutral94 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.953 0.929 0.969);
}

@property --md-ref-palette-neutral95 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.961 0.937 0.969);
}

@property --md-ref-palette-neutral96 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.969 0.949 0.98);
}

@property --md-ref-palette-neutral98 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.996 0.969 1);
}

@property --md-ref-palette-neutral99 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 1 0.984 1);
}

@property --md-ref-palette-neutral100 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 1 1 1);
}

@property --md-ref-palette-neutral-variant0 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0 0 0);
}

@property --md-ref-palette-neutral-variant10 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.114 0.102 0.133);
}

@property --md-ref-palette-neutral-variant20 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.196 0.184 0.216);
}

@property --md-ref-palette-neutral-variant30 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.286 0.271 0.31);
}

@property --md-ref-palette-neutral-variant40 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.376 0.365 0.4);
}

@property --md-ref-palette-neutral-variant50 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.475 0.451 0.494);
}

@property --md-ref-palette-neutral-variant60 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.576 0.561 0.6);
}

@property --md-ref-palette-neutral-variant70 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.682 0.663 0.706);
}

@property --md-ref-palette-neutral-variant80 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.792 0.769 0.816);
}

@property --md-ref-palette-neutral-variant90 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.906 0.878 0.925);
}

@property --md-ref-palette-neutral-variant95 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.961 0.933 0.98);
}

@property --md-ref-palette-neutral-variant98 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 0.992 0.969 1);
}

@property --md-ref-palette-neutral-variant99 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 1 0.984 0.996);
}

@property --md-ref-palette-neutral-variant100 {
  syntax: "<color>";
  inherits: true;
  initial-value: color(srgb 1 1 1);
}