# PlainTooltip

Plain tooltips briefly describe a UI element. They're often used for labelling
UI elements with no text, like icon-only buttons and fields.

## Example

```tsx
import { PlainTooltip } from "@miyauci/material-react";

<PlainTooltip text="Supporting text" />;
```

## Props

| Name   | Type     |
| ------ | -------- |
| `text` | `string` |

And `HTMLSpanElement` arrtibutes.

## Tokens

Depends on the following CSS variables.

<!-- deno-fmt-ignore-start -->
{{#tokens}}
- {{.}}
{{/tokens}}
<!-- deno-fmt-ignore-end -->
