@import url(./_generated/tokens.css);

@scope([data-md=navigation-bar]) {
  all: unset;
  background-color: var(--container-color);
  height: var(--height);
  border-radius: var(--shape);
  display: flex;
  column-gap: var(--space-between-items);

  :scope>* {
    flex: 1;
  }

  &[data-variant=vertical] {
    --variant: vertical;
  }

  &[data-variant=horizontal] {
    --variant: horizontal;
  }
}