@import url(./_generated/tokens.css);
@import url(../../../_internal/elevation.css);

@scope([data-md=navigation-bar]) {
  & {
    all: unset;
    background-color: var(--container-color);
    height: var(--height);
    border-radius: var(--shape);
    display: flex;
    column-gap: var(--space-between-items);
    --elevation: var(--container-elevation);
    --shadow-color: var(--container-shadow-color);
    box-shadow: var(--box-shadow);
  }

  &[data-variant=vertical] {
    --variant: vertical;
  }

  &[data-variant=horizontal] {
    --variant: horizontal;
  }
}