@import url(../_generated/token.css);

@scope([data-md=navigation-bar]) {
  all: unset;
  background-color: var(--container-color);
  height: var(--container-height);
  border-radius: var(--container-shape);
  display: flex;
  column-gap: var(--container-items-space);

  :scope>* {
    flex: 1;
  }

  &[data-variant=vertical] {
    --variant: vertical;
  }

  &[data-variant=horizontal] {
    --variant: horizontal;
  }
}